body{
    background-color: hsl(212, 45%, 89%);
}
.container{
    background-color: hsl(0, 0%, 100%);
    max-width: 375px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 100px;
}
.qr{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
.text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
h3{
    font-weight: bold;
    color:hsl(218, 44%, 22%);
    padding: 15px;
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0px 15px 15px 15px;
}